
span[role="img"] {
	cursor: default;
}
.flex-row {
	display: flex;
	justify-content: space-evenly;
}
ul li {
	list-style:none;
  
}

nav li {
	cursor:alias;
}

.mx-2 {
	margin-right: var(--spacing-two);
	margin-left: var(--spacing-two);
}
.navActive {
	color: var(--primary);
}
h2 {
	display: flex;
	font-size:15px;
    font-family:'Times New Roman', Times, serif;
	margin-top: 5px 0;
	line-height: 1.25;
	color:var(--tertiary);
}

nav div h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nav div {
    position: relative;
    width: 110%;
}