


header a {
	color: var(--light);
}
p{
    color: black;
}
header div {
    position: relative;
    width: 110%;
}

header div h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h2 {
    font-size: 1.5rem;
}

h2{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    width: 400px;
    height:70px;
    padding:0px;
    text-align:right;
    font-size:35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    background-color: aquamarine;
 }